body {
    background-image: url(https://cdn.pixabay.com/photo/2014/11/26/21/19/canvas-546877__340.jpg);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.divClass {
    text-align: center;
}

h1 {
    color: rgb(90, 90, 77)
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(212, 196, 176);
    padding: 50px;
    border: 5px;
    border-style: double;
    overflow: hidden;

}

#spanId {
    font-size: 18px;
    margin: 50px;
}